.card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #e9e8e8;
	background: #fff;
}

img.avatar {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 1px solid #e9e8e8;
	margin: 25px;
}

li.studentName {
	font-size: 35px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 10px;
}

.studentDetails {
	margin: 0 10px 10px 10px;
	padding-left: 15px;
	font-size: 15px;
	line-height: 1.5;
	color: #959595
}

.mainCard {
	display: flex;
	width: 100%;
}

.fiPlus {
	font-size: 40px;
	align-self: flex-start;
	margin: 10px 10px 0 0;
	color: #959595
}

.fiPlus:hover {
	cursor: pointer;
}